body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
div{
    width: 15vw;
    height: 30vh;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
}
div{
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
div:first-of-type:is(:hover, :focus){
    transform: translate(-40px, 0);
}
div:nth-of-type(2):is(:hover, :focus){
    transform: translate(0, -40px);
}
div:nth-of-type(3):is(:hover, :focus){
    transform: translate(40px, 0);
}